<html>
	<title>
		<head>{{greeting_msg}}</head>
	</title>
	<body>
		<h4>Hostname - {{ansible_hostname}}</h4>
		<h4>Configured by - {{conf_mgr_tool}}</h4>
		<h4>Provisioned by - {{provisioner_tool}}</h4>
	</body>
</html>
